*{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
	font-family: 'Oswald', sans-serif;
}

p{
	font-family:'Quicksand', sans-serif;
}


/* Actual css Start */

/* Body Style start */
body{
	background-color: #0a0808;
}

.bodystyle
{
	width: 90%;
	margin: 0 auto;
}

/* Body Style end */

/*logo style start */

.logostyle{
	height: 40px;
	width: auto;
}

/*logo style End */

/*Carousel Start */

 .carousel-inner img {
    width: 100%;       /*make carsouel size reduce */
    height: 450px;
  }

  .carousel-item
  {
    position: relative; 
    z-index: 1;               /* Carsouel image er upor likhar position chng korar jonno start */ 	
  }

  .carousel-caption{
  	position: absolute;
  	top: 5%;
  	left: 7%!important;
  }

.carousel-caption h3{
	text-align: left;
	color: black;
}

.carousel-caption p{
	text-align: left;
	color: black;
}

.carousel-caption button
{
	color: white;
	background-color: black;
	padding: 10px 20px;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 0px;

}
/*.background{
	color: #211c1c;
}
*/


 /* Carsouel image er upor likhar position chng korar jonno End */ 




 /* Carsouel image er upor likhar position right a  chng korar jonno 

.carousel-surfacebook{

	position: relate;
}

.carousel-surcaption{

	position: absolute;

	bottom: 5%;
	right: 7%;

}

.carousel-surcaption button{

	color: white;
	background-color: black;
	font-size: 15px;
	border: none;
	padding: 10px 20px;




}
*/

/* Product card 1st- start */
main{
	margin: 13% 0;
	
object-fit: center;
	

}


.card{
	border: none!important;
	text-align: center!important;
	align-items: center!important;
	background-color:  #0a0808!important;
	border: none;

}

.card-body{
	align-items: center;
	border:  none;
	color: white;
	line-break: 1px;


}

.card-body a{
	color: white;

}

.card i{
	color: #8ebef4;
}

/* Product card 1st- end */

/* Product card 2nd- start */

.card-2{
	margin: 5% 0;
	
}

.card-img-top{
	height: 170px;
}

.btn{
	color: black!important;
	background-color: #8ebef4!important;
	border: none;
	padding: 10px 15px;

}

.card{
	transition: 0.4s ease;


}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}


/* Product card 2nd- end */



